%br
%br
%br
.page.section.max
  = form_for @contact do |f|
    .block
      .extremum-click
        =I18n.t("New Contact")
        = image_tag("down.png", :border => 0)
      .extremum-slide.display
        = f.text_field :surname, placeholder: I18n.t("Surname"), style: "margin-top:6px;border:1px #DEB887 solid "
        = f.text_field :name_patronymic, placeholder: I18n.t("Name Patronymic"), style: "margin-top:6px;border:1px #DEB887 solid "
        = f.text_field :about, placeholder: I18n.t("About Contact"), style: "margin-top:6px;border:1px #DEB887 solid "
        = f.text_field :phone, placeholder:I18n.t("Phone"), style: "margin-top:6px;border:1px #DEB887 solid "
        = f.text_field :address, placeholder: I18n.t("Address"), style: "margin-top:6px;border:1px #DEB887 solid "
        = f.text_field :fax, placeholder: I18n.t("Fax"), style: "margin-top:6px;border:1px #DEB887 solid "
        = f.text_field :email, placeholder: I18n.t("Email"), style: "margin-top:6px;border:1px #DEB887 solid "
        = f.text_field :skype, placeholder: I18n.t("Skype"), style: "margin-top:6px;border:1px #DEB887 solid "
        = f.text_field :site, placeholder: I18n.t("Site"), style: "margin-top:6px;border:1px #DEB887 solid "
        = f.submit I18n.t("Add"),style: "color:#B22222; width:18%;font-size:40px;"

.pb
  .pages_block 
    =I18n.t("Open Contact")
    %select#contact_select{name: "contact_select", onchange: "document.location=this.options[this.selectedIndex].value"}
      %option ...
      - @contacts.each do |c|
        %option{value:"contacts/#{c.id}"}
          = c.surname


.block
  .extremum-click.pb
    .pages_block
      =I18n.t("See all contacts")
      = image_tag("down.png", :border => 0)
  .extremum-slide 
    .page.contact
      %table  
        =render "th"
        - @contacts.each do |contact|
          %tr
            %td.hrefs_contact
              = link_to image_tag("delt.png", :border => 0), contact_path(contact),method: :delete, data: { confirm: I18n.t("Are you sure?") } 
              = link_to image_tag("edt.png", :border => 0), edit_contact_path(contact)
            %td.surname
              = contact.surname
            %td.name_patronymic
              = contact.name_patronymic
            %td.about_contact
              = contact.about
            %td.phone
              = contact.phone
            %td.address
              = contact.address
            %td.fax
              = contact.fax
            %td.email
              = contact.email
            %td.skype
              = contact.skype
            %td.site
              = contact.site

